*{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

body{
background-color:darkgray;
font-family: 'Times New Roman', Times, serif;
}

.contenedor{
display: flex;
background-color: rgb(75, 75, 75);
}

header{
display: flex;
background-color: rgb(137, 137, 137);

}

nav{
    display: flex;
    background-color: rgb(65, 57, 57);
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



main{
    display: flex;
align-items: center;
justify-content: center;
background-color: rgb(52, 28, 28);
flex: 2;
}

section{
display: flex;
background-color: rgb(137, 137, 137);
flex-direction: column;
flex: 2;


}

article{
        display: flex;
background-color: rgb(137, 137, 137);
flex-direction: column;
align-items: center;
justify-content: center;
flex: 1;

}

footer{
display: flex;
background-color: rgb(137, 137, 137);
align-items: center;
justify-content: center;
}